header,
footer {
  padding: 1rem 0;
}
footer {
  font-size: .7rem;
  color: #CCCCCC;
}
a.mainlogo {
  background-image: url('/img/catxpapa.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 3rem;
  line-height: 3rem;
  height: 2.5rem;
  cursor: pointer;
  color: black;
  padding-right: 1rem;
  font-size: 1.5rem;
  vertical-align: bottom;
  display: inline-block;
  background-color: transparent;
}
a.mainlogo:hover {
  background-color: #f0f0f0;
}
#map-btn {
  float: right;
}
#sitemap {
  background-color: #333!important;
  color: #fff;
}
.banner {
  background-image: url('/img/color.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 9rem;
  margin: -2rem -2rem 1rem -2rem;
}
