header,
footer {
  padding: 1rem 0;
}
footer {
  font-size: .7rem;
  color: #CCCCCC;
}
a {
  cursor: pointer;
}
a.mainlogo {
  background-image: url('/img/catxpapa.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 3rem;
  line-height: 3rem;
  height: 2.5rem;
  cursor: pointer;
  color: black;
  padding-right: 1rem;
  font-size: 1.5rem;
  vertical-align: bottom;
  display: inline-block;
  background-color: transparent;
}
a.mainlogo:hover {
  background-color: #f0f0f0;
}
.plain {
  background: none;
}
#map-btn {
  float: right;
}
#map-btn.active {
  transition: none;
  background-color: #fc4107!important;
  color: #fff!important;
  height: 3.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 0!important;
  outline: none!important;
  transform: none;
}
#lan-btn {
  float: right;
  margin: 0 1rem;
}
#sitemap {
  clear: both;
  display: none;
  transition: all .2s;
}
#sitemap .container {
  background-color: #333;
}
#sitemap .container a {
  border-top: 1px solid #666;
  background: none;
  font-size: .8rem;
  color: #fff;
  display: block;
  line-height: 1.5rem;
  padding: .2rem;
  text-indent: 1.5rem;
}
#sitemap .container a:hover {
  background-color: #666;
}
#sitemap .container a:first-child {
  border-top: none;
  font-weight: bold;
  text-indent: 1em;
  font-size: .9rem;
}
.banner {
  background-image: url('/img/color.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  margin: -2rem -2rem 1rem -2rem;
  position: relative;
}
.banner #banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
.banner #banner-content h1 {
  font-size: 3rem;
  color: #fff;
  margin: 0;
}
.banner #banner-content h2 {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.5em;
  margin: 0;
}
.imgbak {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
